@charset 'UTF-8';

html {
    font-size: 100%;
}

body {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

main {

}

/* Calendar
----------------------------------------- */

.calendar_container {
    width: 50%;
}

h2 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    background-color: #eccc68;
    border-radius: 3px;
    margin: 2px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

.week:first-child {
    color: rgb(255, 101, 101);
}

.week:last-child {
    color: #0c81ff;
}

.calendar {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.calendar_container {
    width: 500px;
    margin: 0 auto;
    border-radius: 3px;
    background: #FFF9E6;
    color: #1a1a1a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

td.today { /* 当日の色変更 */
    background-color: #fdac43c9;
    border-radius: 50%;
}

td {
    padding: 10px;
    color: #2c2c2c;
    font-size: 1.6rem;
    border-radius: 2px;
    cursor: pointer;
}

tr *:first-child {
    color: rgb(255, 101, 101);
}

tr *:last-child {
    color: #0c81ff;
}

td:hover {
    background-color: #ffbf6b;
    color: #fff;
    border-radius: 50%;
}


table {
    /* border-collapse: separate; */
    border-spacing: 5px;
    margin: 0 auto;
}

th,
tr {
    text-align: center;
}

th {
    font-size: 1.3rem;
    padding: 20px;
    border-radius: 5px;
    pointer-events: none;
}

/* 本日以前のグレーアウト */
td.gray {
    color: #b2b2b2;
    pointer-events: none;
}

/* 空欄部分の消去 */
td:empty {
    background: none;
    pointer-events: none;
}

.btn,
a.btn,
button.btn {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
    /* position: relative; */
    /* display: block; */
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
}

a.next,
a.prev {
    position: absolute;
    top: 5px;
}
a.next {
    right: 25%;
}
a.prev {
    left: 25%;
}

a.btn--circle {
    width: 40px;
    height: 40px;
    padding: 0;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.btn--circle i {
    font-size: 150%;
    line-height: 40px;
    -webkit-transition: all .3s;
    transition: all .3s;
    letter-spacing: 0;
}

a.btn--circle:hover i {
    line-height: 35px;
}

.hide {
    display: none;
}

/* インプットエリア */
.select_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.select_container p {
    font-size: .8rem;
}

.select_title {
    text-align: center;
}

select_memo {}
select_example {}


